<c-row>

  <c-col md="12" xl="4">
      <app-flip-card [flip]="flipDiv" (click)="onClickflipDiv()">
        <div front><app-total-sales-frontside></app-total-sales-frontside></div>
        <div back><app-total-sales-backside></app-total-sales-backside></div>
      </app-flip-card>
  </c-col>
  <c-col md="12" xl="4">
    <app-flip-card [flip]="flipDiv2" (click)="onClickflipDiv2()">
      <div front><app-total-budgets-frontside></app-total-budgets-frontside></div>
      <div back><app-total-budgets-backside></app-total-budgets-backside></div>
    </app-flip-card>
  </c-col>
  <c-col md="12" xl="4">
              
    <c-card class="mb-3">
      <c-card-header>
        <div class="d-flex justify-content-between">
          <div class="float-start">
            <strong>Toplam Satış Tutarı</strong>
          </div>
          <div class="float-end ms-1 text-nowrap">
            <small class="text-medium-emphasis" style="font-weight: bold;">
              {{ '43627507' | currency: 'TRY' :'symbol':'4.0-0':'tr' }}
            </small>
          </div>
        </div>
      </c-card-header>
      <c-card-body>
        <h5 cCardTitle>Örnek Bir card</h5>
        <p cCardText>
          Some quick example text to build on the card title and make up the bulk of
          the card&#39;s content.
        </p>
        <button class="btn btn-warning" cButton>Miktarları Göster</button>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>