<c-row>
    <c-col xs>
        <c-card class="mb-4">
            <c-card-header>Şirket Bütçesi</c-card-header>
            <c-card-body>
                <div>
                    <table>
                        <tr>
                            <td class="text-center">
                                <c-avatar size="md" src="./assets/img/avatars/{{channel.ownerPhoto}}"></c-avatar>
                            </td>
                            <td>
                                <div>
                                    <h4>{{channel.description}}</h4>
                                </div>
                                <div class="small text-medium-emphasis text-nowrap">
                                    <span>
                                        <h6>{{channel.owner}}</h6>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>

                <c-nav variant="tabs">
                    <c-nav-item>
                        <a [active]="true" [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="0" cNavLink (click)="selectedTab('AylikSirketButcesi')">Aylık</a>
                    </c-nav-item>
                    <c-nav-item>
                        <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="1" cNavLink  (click)="selectedTab('KirilimliSirketButcesi')">Kırılımlı</a>
                    </c-nav-item>
                    <div class="card-options">
                            <button cButton class="float-end" color="primary" (click)="exportToExcel()">
                                <fa-icon [icon]="['fas', 'cloud-arrow-down']"></fa-icon>
                            </button>

                            <form [formGroup]="viewTypeRdGrp">
                                <c-button-group class="float-end me-3" role="group">
                                    <input class="btn-check" formControlName="viewTypeGrp" type="radio" value="Tutar" />
                                    <label (click)="refreshData(false)" cButton cFormCheckLabel color="secondary"
                                        variant="outline">Tutar</label>

                                    <input class="btn-check" formControlName="viewTypeGrp" type="radio"
                                        value="Miktar" />
                                    <label (click)=" refreshData(true)" cButton cFormCheckLabel color="secondary"
                                        variant="outline">Miktar</label>
                                </c-button-group>
                            </form>
                        
                    </div>
                </c-nav>
                <c-tab-content #tabContent="cTabContent">
                    <c-tab-pane class="p-3">
                        <c-row style="margin-top:3px;">
                        <div id="dvAylik">
                            <table id="AylikSirketButcesi" [hover]="true" [responsive]="true" [striped]="true"
                                align="middle" cTable class="mb-0 border">
                                <thead cTableColor="light">
                                    <tr>
                                        <th class="text-center" style="width: 30%;">
                                            Aylar
                                        </th>
                                        <th class="text-right" style="width: 10%;">Bütçe</th>
                                        <th class="text-right" style="width: 10%;">Fiili</th>
                                        <th style="width: 50%;">Yüzde</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of salesChannelMonthlyData; index as i">
                                        <td>
                                            {{months[data.month]}}
                                        </td>
                                        <td class="text-right">
                                            {{ data.budget | currency: mainFilter.currency:'symbol':'1.0-0':'tr' }}
                                        </td>
                                        <td class="text-right">
                                            {{ data.realized | currency: mainFilter.currency:'symbol':'1.0-0':'tr' }}
                                        </td>
                                        <td>
                                            <div class="d-flex justify-content-between">
                                                <div class="float-start">
                                                    <strong>{{ data.percent | number : '1.0-0'}}%</strong>
                                                </div>
                                            </div>
                                            <c-progress thin>
                                                <c-progress-bar [value]="data.percent" color="success"></c-progress-bar>
                                            </c-progress>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </c-row>
                    </c-tab-pane>
                    <c-tab-pane class="p-3" >
                        <div id="dvKirilimli">
                            <table id="KirilimliSirketButcesi" [responsive]="true" bordered cTable
                                style="width: max-content;">
                                <thead cTableColor="light">
                                    <tr>
                                        <th colspan="3" style="width: 400px;"></th>
                                        <th *ngFor="let month of months | slice:1;" colspan="2" class="text-center">
                                            {{month}}</th>
                                        <th class="text-center" colspan="2">Toplam</th>
                                    </tr>
                                </thead>
                                <tbody [innerHTML]="pivotTableData">
                                </tbody>
                            </table>
                        </div>
                    </c-tab-pane>
                </c-tab-content>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>