<c-card style="height: 225px;">
    <ngx-spinner name="sp3" [fullScreen]="false" type="ball-scale-multiple" size="medium" [showSpinner]="loading"></ngx-spinner>
    <c-card-body>
        <c-container>
            <c-row>
                <c-col>
                    <h6 cCardTitle>Ay Bazında Toplam Satış Tutarları</h6>
                </c-col>
            </c-row>
        </c-container>

        <div cCardText class="chart-container" style="height:100%; width:100%">
            <canvas id="salesMonthlyChart" height="155px">{{ chart3 }}</canvas>
        </div>
    </c-card-body>
</c-card>