img {
    max-width: 100%;
    max-height: 100%;
}

.table> :not(caption)>*>* {

    padding: 0 3px;
}

.table-wrapper {
    width: 100%;
    max-height: 300px;
    overflow: auto;
    display: inline-block;
}

.text-right {
    text-align: right;
}

.info-small {
    font-size: smaller;
}