<c-card class="mb-4 card" style="--cui-card-cap-bg:#fdb123; color: rgb(0, 0, 0);">
  <c-card-header class="card-header position-relative d-flex justify-content-center align-items-center pad-top-xs">
    <c-col class="card-body" style="padding: 0.2rem !important;">
      <div class="d-flex justify-content-between">
        <div class="float-start">
          Yurtiçi
        </div>
        <div class="float-end ms-1 text-nowrap">
          <span style="font-size: x-small;">Bütçe: </span> {{'3553' | number: '1.0-0' }} / 
          <span style="font-size: x-small;">Fiili: </span>: {{ '55' | number: '1.0-0'}}
        </div>
        
      </div>
      <c-progress class="my-2">
        <c-progress-bar [value]="2" class="opaque progress-bar-percentage-l">2%</c-progress-bar>
      </c-progress>
      <div class="d-flex justify-content-between">
        <div class="float-start">
          Yurtdışı
        </div>
        <div class="float-end ms-1 text-nowrap">
          <span style="font-size: x-small;">Bütçe: </span> {{'519' | number: '1.0-0' }} / 
          <span style="font-size: x-small;">Fiili: </span>: {{ '804' | number: '1.0-0'}}
        </div>
      </div>
      <c-progress class="my-2">
        <c-progress-bar [value]="7" class="opaque progress-bar-percentage-l">7%</c-progress-bar>
      </c-progress>
    </c-col>
  </c-card-header>
  <c-card-body class="text-center card-body row budget-bottom-summary" >
    <c-col class="col ng-star-inserted">
      <div class="fs-5 fw-semibold">15.890</div><!--Toplam Bütçe-->
      <div class="fs-5 fw-semibold">Bütçe</div>
    </c-col>
    <div class="vr ng-star-inserted"></div>
    <c-col class="col ng-star-inserted">
      <div class="fs-5 fw-semibold">859</div><!--Toplam Fiili-->
      <div class="fs-5 fw-semibold">Fiili</div>
    </c-col>
  </c-card-body>
</c-card>